html {
	height: 100%;
	
	--mainColor: #820602; /*red*/
	--accentColor: #fcb649; /*yellow*/
	
	--headerFont: Inconsolata;
	--bodyFont: Helvetica Neue;
}

#navigation {
	flex-direction: column;
	justify-content: center;
}


/* images */



/* text */

h1 {
	color: var(--mainColor);
	
	font-family: var(--headerFont);
}

body {
	font-family: var(--bodyFont);
}

/* elements */

#header {
	text-transform: lowercase;
}

#navigation {
	text-transform: lowercase;
}

#navigation #bio {
	background-image: ;
}