html {
	margin: 0;
	height: 100%;
	width: 100%;
	
	--mainColor: #820602; /*red*/
	--accentColor: #fcb649; /*yellow*/
	
	--headerFont: Inconsolata;
	--bodyFont: Helvetica;
}

#navigation {
	flex-direction: column;
	justify-content: center;
}


/* images */

#parallaxBackground {  /* styles the parallaxBackgroundTop div */

	height: 100%; 
    width: 100%;

    background-attachment: fixed;
    background-position: center; /* 'center center' keeps the entire image centered as opposed to... not doing that */
    background-repeat: no-repeat;
    background-size: cover;
    
    position: relative;
    
}

/* text */

h1 {
	color: var(--mainColor);
}

body {
	font: var(--bodyFont);
}